language: nix

sudo: false

os:
  - linux
  - osx

env:
  global:
    - CACHIX_CACHE=
    - NUR_REPO=<YOUR_NUR_REPO_NAME_HERE>
  matrix:
    - NIX_CHANNEL=https://nixos.org/channels/nixpkgs-unstable
    - NIX_CHANNEL=https://nixos.org/channels/nixos-unstable
    - NIX_CHANNEL=https://nixos.org/channels/nixos-19.03

install:
 - nix --version
 - if [ -n "${CACHIX_CACHE}" ]; then travis_retry nix-channel --update; fi
 - if [ -n "${CACHIX_CACHE}" ]; then nix-env -iA cachix -f https://cachix.org/api/v1/install; fi
 - if [ -n "${CACHIX_CACHE}" ]; then cachix use "${CACHIX_CACHE}"; fi
 - nix-channel --add "${NIX_CHANNEL}" nixpkgs
 - travis_retry nix-channel --update

script:
 - nix-build ci.nix -A buildOutputs
 - nix eval -f default.nix 'lib'
 - nix eval -f default.nix 'modules'
 - nix eval -f default.nix 'overlays'

after_success:
  - if [ -n "${CACHIX_CACHE}" ]; then nix-build ci.nix -A cacheOutputs | cachix push "${CACHIX_CACHE}"; fi
